<h1 id="page-header" class="text-center">{{message}}</h1>

<div class="container">
  <div class="article-box">
    {{#each articles}}
    <div class="article" data-id={{_id}}>
      <div class="row">
        <div class="col-lg-3 article-image">
          <img src="{{image}}" alt="">
          <a class="link" href="{{link}}" target="_blank">Read more</a>
        </div>

        <div class="col-lg-9 article-content">
          <h3 class="title">{{title}}</h3>
          <p class="text">{{content}}</p>
          <p class="timestamp">{{timestamp}}</p>

        </div>
      </div>


      <form class="comment-form" action="/submit" method="post" data-id={{_id}}>
        <textarea id="comment-field" type="text" name="comment" placeholder="comment"></textarea>
        <button class="form-btn" id="add-comment"><i class="fas fa-plus-square"></i>Add comment</button>
        <button class="form-btn" id="view-comments" data-id={{_id}} data-state="hidden"><i
            class="far fa-comment"></i>View comments</button>
      </form>

      <div class="row">
        <div class="comments" id="comments-{{_id}}">

        </div>
      </div>
    </div>



    {{/each}}
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>



{{!-- 
<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form> --}}